In [31]:
import pandas as pd 
import numpy as np

In [41]:
data = pd.read_csv('mercedes-benz.csv')

In [85]:
top10 = [x for x in data.X2.value_counts().sort_values(ascending=False).head(10).index]
top10

['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']

In [86]:
for label in top10:
    data[label] = np.where(data["X2"] == label, 1, 0)

# df['X2']
data[['X2'] + top10].head(5)

   X2  as  ae  ai  m  ak  r  n  s  f  e
0  at   0   0   0  0   0  0  0  0  0  0
1  av   0   0   0  0   0  0  0  0  0  0
2   n   0   0   0  0   0  0  1  0  0  0
3   n   0   0   0  0   0  0  1  0  0  0
4   n   0   0   0  0   0  0  1  0  0  0

In [93]:
from statistics import variance


def one_hot_top_x(df, cat_variables, top_x_labels):
    for label in top_x_labels:
        df[cat_variables+'_'+label] = np.where(data[cat_variables] == label, 1, 0)

data  = pd.read_csv('mercedes-benz.csv', usecols=['X1','X2','X3','X4','X5','X6'])
top10_X2 = [x for x in data.X2.value_counts().sort_values(ascending=False).head(10).index]

one_hot_top_x(data, 'X2', top10_X2)
data.head(10)

,X1,X2,X3,X4,X5,X6,X2_as,X2_ae,X2_ai,X2_m,X2_ak,X2_r,X2_n,X2_s,X2_f,X2_e
0,v,at,a,d,u,j,0,0,0,0,0,0,0,0,0,0
1,t,av,e,d,y,l,0,0,0,0,0,0,0,0,0,0
2,w,n,c,d,x,j,0,0,0,0,0,0,1,0,0,0
3,t,n,f,d,x,l,0,0,0,0,0,0,1,0,0,0
4,v,n,f,d,h,d,0,0,0,0,0,0,1,0,0,0
5,b,e,c,d,g,h,0,0,0,0,0,0,0,0,0,1
6,r,e,f,d,f,h,0,0,0,0,0,0,0,0,0,1
7,l,as,f,d,f,j,1,0,0,0,0,0,0,0,0,0
8,s,as,e,d,f,i,1,0,0,0,0,0,0,0,0,0
9,b,aq,c,d,f,a,0,0,0,0,0,0,0,0,0,0